<nav class="navbar navbar-default" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <ul class="nav navbar-nav ">
      <li class="active"><a class="nav-link" routerLink="/" class="navbar-brand">Home</a></li>
      <li><a class="nav-link" routerLink="/login" class="navbar-brand">Log in</a></li>
      <li><a class="nav-link" routerLink="/account" class="navbar-brand">Account</a></li>
      <li><a class="nav-link" routerLink="/userslist" class="navbar-brand">List</a></li>
      <li>
        <a class="nav-link" routerLink="/login" (click)="logout()" class="navbar-brand">Log out</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
